In [2]:
%pip install ta

Collecting ta
  Downloading ta-0.11.0.tar.gz (25 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in d:\apps\miniconda\envs\new_env\lib\site-packages (from ta) (1.26.4)
Requirement already satisfied: pandas in d:\apps\miniconda\envs\new_env\lib\site-packages (from ta) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\apps\miniconda\envs\new_env\lib\site-packages (from pandas->ta) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\apps\miniconda\envs\new_env\lib\site-packages (from pandas->ta) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\apps\miniconda\envs\new_env\lib\site-packages (from pandas->ta) (2025.2)
Requirement already satisfied: six>=1.5 in d:\apps\miniconda\envs\new_env\lib\site-packages (from python-dateutil>=2.8.2->pandas->ta) (1.17.0)
Building wheels for collected packages: ta
  Building wheel for ta (setup.py): started
  Building wheel for ta (setup.py): finished with status 'done'
  Created wheel for ta: filename=ta-0.11.0-py3-none-any.whl size=29497 sha256=07ae09980c714acee566e3616cc15ecd25be1057001d51a62d09252202dfc0db
  Stored in directory: c:\users\saipa\appdata\local\pip\cache\wheels\5f\67\4f\8a9f252836e053e532c6587a3230bc72a4deb16b03a829610b
Successfully built ta
Installing collected packages: ta
Successfully installed ta-0.11.0
Note: you may need to restart the kernel to use updated packages.

  DEPRECATION: Building 'ta' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'ta'. Discussion can be found at https://github.com/pypa/pip/issues/6334

In [1]:
import yfinance as yf
import numpy as np
import pandas as pd
import os
import datetime
pd.options.mode.chained_assignment = None
import ta

D:\Apps\Miniconda\envs\new_env\lib\site-packages\requests\__init__.py:86: RequestsDependencyWarning: Unable to find acceptable character detection dependency (chardet or charset_normalizer).
  warnings.warn(

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
nifty50_symbols = [
    "ADANIENT.NS", "ADANIPORTS.NS", "APOLLOHOSP.NS", "ASIANPAINT.NS", "AXISBANK.NS",
    "BAJAJ-AUTO.NS", "BAJFINANCE.NS", "BAJAJFINSV.NS", "BEL.NS", "BHARTIARTL.NS",
    "CIPLA.NS", "COALINDIA.NS", "DRREDDY.NS", "EICHERMOT.NS", "EICHERMOT.NS",
    "GRASIM.NS", "HCLTECH.NS", "HDFCBANK.NS", "HDFCLIFE.NS", "HEROMOTOCO.NS",
    "HINDALCO.NS", "HINDUNILVR.NS", "ICICIBANK.NS", "INDUSINDBK.NS", "INFY.NS",
    "ITC.NS", "JIOFIN.NS", "JSWSTEEL.NS", "KOTAKBANK.NS", "LT.NS",
    "M&M.NS", "MARUTI.NS", "NESTLEIND.NS", "NTPC.NS", "ONGC.NS",
    "POWERGRID.NS", "RELIANCE.NS", "SBILIFE.NS", "SHRIRAMFIN.NS", "SBIN.NS",
    "SUNPHARMA.NS", "TCS.NS", "TATACONSUM.NS", "TATAMOTORS.NS", "TATASTEEL.NS",
    "TECHM.NS", "TITAN.NS", "TRENT.NS", "ULTRACEMCO.NS", "WIPRO.NS"
]

In [4]:
data_dir = "E:\My_Career\Projects\ML_stock_market\data"
if not os.path.exists(data_dir):
    os.makedirs(data_dir)

In [5]:
start_dt = '2010-01-01'
end_dt = '2025-05-01'

In [6]:
data_dict = {}
for stock in nifty50_symbols:
    data_dict[stock] = yf.download(stock, start=start_dt, end=end_dt)
    print(stock, "done")

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

ADANIENT.NS done

[*********************100%***********************]  1 of 1 completed

ADANIPORTS.NS done

[*********************100%***********************]  1 of 1 completed

APOLLOHOSP.NS done

[*********************100%***********************]  1 of 1 completed

ASIANPAINT.NS done

[*********************100%***********************]  1 of 1 completed

AXISBANK.NS done

[*********************100%***********************]  1 of 1 completed

BAJAJ-AUTO.NS done

[*********************100%***********************]  1 of 1 completed

BAJFINANCE.NS done

[*********************100%***********************]  1 of 1 completed

BAJAJFINSV.NS done

[*********************100%***********************]  1 of 1 completed

BEL.NS done

[*********************100%***********************]  1 of 1 completed

BHARTIARTL.NS done

[*********************100%***********************]  1 of 1 completed

CIPLA.NS done

[*********************100%***********************]  1 of 1 completed

COALINDIA.NS done

[*********************100%***********************]  1 of 1 completed

DRREDDY.NS done

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

EICHERMOT.NS done
EICHERMOT.NS done

[*********************100%***********************]  1 of 1 completed

GRASIM.NS done

[*********************100%***********************]  1 of 1 completed

HCLTECH.NS done

[*********************100%***********************]  1 of 1 completed

HDFCBANK.NS done

[*********************100%***********************]  1 of 1 completed

HDFCLIFE.NS done

[*********************100%***********************]  1 of 1 completed

HEROMOTOCO.NS done

[*********************100%***********************]  1 of 1 completed

HINDALCO.NS done

[*********************100%***********************]  1 of 1 completed

HINDUNILVR.NS done

[*********************100%***********************]  1 of 1 completed

ICICIBANK.NS done

[*********************100%***********************]  1 of 1 completed

INDUSINDBK.NS done

[*********************100%***********************]  1 of 1 completed

INFY.NS done

[*********************100%***********************]  1 of 1 completed

ITC.NS done

[*********************100%***********************]  1 of 1 completed

JIOFIN.NS done

[*********************100%***********************]  1 of 1 completed

JSWSTEEL.NS done

[*********************100%***********************]  1 of 1 completed

KOTAKBANK.NS done

[*********************100%***********************]  1 of 1 completed

LT.NS done

[*********************100%***********************]  1 of 1 completed

M&M.NS done

[*********************100%***********************]  1 of 1 completed

MARUTI.NS done

[*********************100%***********************]  1 of 1 completed

NESTLEIND.NS done

[*********************100%***********************]  1 of 1 completed

NTPC.NS done

[*********************100%***********************]  1 of 1 completed

ONGC.NS done

[*********************100%***********************]  1 of 1 completed

POWERGRID.NS done

[*********************100%***********************]  1 of 1 completed

RELIANCE.NS done

[*********************100%***********************]  1 of 1 completed

SBILIFE.NS done

[*********************100%***********************]  1 of 1 completed

SHRIRAMFIN.NS done

[*********************100%***********************]  1 of 1 completed

SBIN.NS done

[*********************100%***********************]  1 of 1 completed

SUNPHARMA.NS done

[*********************100%***********************]  1 of 1 completed

TCS.NS done

[*********************100%***********************]  1 of 1 completed

TATACONSUM.NS done

[*********************100%***********************]  1 of 1 completed

TATAMOTORS.NS done

[*********************100%***********************]  1 of 1 completed

TATASTEEL.NS done

[*********************100%***********************]  1 of 1 completed

TECHM.NS done

[*********************100%***********************]  1 of 1 completed

TITAN.NS done

[*********************100%***********************]  1 of 1 completed

TRENT.NS done

[*********************100%***********************]  1 of 1 completed

ULTRACEMCO.NS done

[*********************100%***********************]  1 of 1 completed

WIPRO.NS done

In [7]:
for stock in data_dict:
    data_dict[stock] = data_dict[stock].droplevel(level=1, axis=1)
    data_dict[stock] = data_dict[stock].reset_index()
    data_dict[stock].columns = ['Date', 'Close', 'High', 'Low', 'Open', 'Volume']

In [8]:
data_dict['TITAN.NS'].head()

        Date      Close       High        Low       Open   Volume
0 2010-01-04  65.586182  66.854996  64.926401  65.747670   490880
1 2010-01-05  66.931129  67.454801  65.701529  66.854997  1282660
2 2010-01-06  68.008461  68.654407  67.593215  67.870050  1318500
3 2010-01-07  69.699455  70.730656  67.593222  67.593222  3218340
4 2010-01-08  69.055809  70.361535  67.203340  70.361535   478240

In [9]:
data_df = pd.concat(
    [df.assign(Ticker=ticker) for ticker, df in data_dict.items()],
    ignore_index=True
)

In [10]:
data_df.head()

        Date      Close       High        Low       Open   Volume       Ticker
0 2010-01-04  57.215233  57.519299  54.858717  55.390832  1860224  ADANIENT.NS
1 2010-01-05  58.539196  58.779915  57.392611  57.392611  2280286  ADANIENT.NS
2 2010-01-06  64.316452  65.501045  58.279465  58.659547  7326390  ADANIENT.NS
3 2010-01-07  61.662220  65.805136  61.193452  65.805136  4759208  ADANIENT.NS
4 2010-01-08  62.441376  64.360800  61.092081  62.054956  3324076  ADANIENT.NS

In [11]:
def add_technical_indicators(df):
    df = df.copy()
    df = df.sort_values("Date")

    df['EMA_10'] = ta.trend.ema_indicator(df['Close'], window=10)
    df['EMA_20'] = ta.trend.ema_indicator(df['Close'], window=20)
    df['EMA_50'] = ta.trend.ema_indicator(df['Close'], window=50)

    df['RSI_14'] = ta.momentum.rsi(df['Close'], window=14)

    bb = ta.volatility.BollingerBands(df['Close'], window=20)
    df['BB_BW_20'] = (bb.bollinger_hband() - bb.bollinger_lband()) / df['Close']

    df['OBV'] = ta.volume.on_balance_volume(df['Close'], df['Volume'])

    df['STOCH_K'] = ta.momentum.stoch(df['High'], df['Low'], df['Close'])
    df['STOCH_D'] = ta.momentum.stoch_signal(df['High'], df['Low'], df['Close'])

    return df

In [12]:
data_df = data_df.groupby("Ticker").apply(add_technical_indicators).reset_index(drop=True)
data_df.head()

,Date,Close,High,Low,Open,Volume,Ticker,EMA_10,EMA_20,EMA_50,RSI_14,BB_BW_20,OBV,STOCH_K,STOCH_D
0,2010-01-04,57.215233,57.519299,54.858717,55.390832,1860224,ADANIENT.NS,NaN,NaN,NaN,NaN,NaN,1860224,NaN,NaN
1,2010-01-05,58.539196,58.779915,57.392611,57.392611,2280286,ADANIENT.NS,NaN,NaN,NaN,NaN,NaN,4140510,NaN,NaN
2,2010-01-06,64.316452,65.501045,58.279465,58.659547,7326390,ADANIENT.NS,NaN,NaN,NaN,NaN,NaN,11466900,NaN,NaN
3,2010-01-07,61.662220,65.805136,61.193452,65.805136,4759208,ADANIENT.NS,NaN,NaN,NaN,NaN,NaN,6707692,NaN,NaN
4,2010-01-08,62.441376,64.360800,61.092081,62.054956,3324076,ADANIENT.NS,NaN,NaN,NaN,NaN,NaN,10031768,NaN,NaN

In [13]:
df_full = data_df.dropna()
df_full.head()

,Date,Close,High,Low,Open,Volume,Ticker,EMA_10,EMA_20,EMA_50,RSI_14,BB_BW_20,OBV,STOCH_K,STOCH_D
49,2010-03-17,61.022419,62.561762,60.686683,62.561762,2145365,ADANIENT.NS,61.636147,61.719079,60.848122,47.383927,0.087481,-534377,69.091965,70.514244
50,2010-03-18,60.813370,63.081200,60.179893,63.081200,680293,ADANIENT.NS,61.486551,61.632821,60.846759,46.437999,0.074322,-1214670,67.286685,70.441321
51,2010-03-19,60.826042,61.161778,59.546426,59.546426,919288,ADANIENT.NS,61.366459,61.555985,60.845947,46.507712,0.071629,-295382,67.396120,67.924923
52,2010-03-22,59.001633,60.686670,58.665890,60.686670,1875340,ADANIENT.NS,60.936490,61.312713,60.773621,38.698624,0.084850,-2170722,23.330458,52.671088
53,2010-03-23,58.874947,59.863161,57.791709,59.166343,582769,ADANIENT.NS,60.561664,61.080545,60.699163,38.218733,0.094687,-2753491,21.595969,37.440849

In [14]:
df_full.tail()

,Date,Close,High,Low,Open,Volume,Ticker,EMA_10,EMA_20,EMA_50,RSI_14,BB_BW_20,OBV,STOCH_K,STOCH_D
177831,2025-04-24,238.067322,240.421019,236.841434,240.077780,23000820,WIPRO.NS,238.472866,245.315834,261.398816,40.321420,0.207178,5003328523,39.280972,31.616889
177832,2025-04-25,236.252991,241.401717,233.457977,239.244159,16620430,WIPRO.NS,238.069252,244.452706,260.412705,39.176725,0.199915,4986708093,39.692260,40.172617
177833,2025-04-28,235.860718,237.282744,234.144476,235.860718,14218414,WIPRO.NS,237.667700,243.634421,259.449882,38.919462,0.185643,4972489679,48.169550,42.380927
177834,2025-04-29,236.743347,238.900921,235.223259,236.939501,16647246,WIPRO.NS,237.499636,242.978129,258.559430,39.876151,0.171445,4989136925,62.325519,50.062443
177835,2025-04-30,236.841431,238.704773,234.585795,236.890469,14206640,WIPRO.NS,237.379962,242.393681,257.707743,39.988638,0.142945,5003343565,53.890512,54.795194

In [15]:
features = ['Close', 'EMA_10', 'EMA_20', 'EMA_50', 'RSI_14', 'BB_BW_20', 'OBV', 'STOCH_K', 'STOCH_D']

In [16]:
from sklearn.preprocessing import StandardScaler

def normalize_features(df, feature_cols):
    df = df.copy()
    scalers = {}
    
    for ticker in df["Ticker"].unique():
        mask = df["Ticker"] == ticker
        scaler = StandardScaler()
        df.loc[mask, feature_cols] = scaler.fit_transform(df.loc[mask, feature_cols])
        scalers[ticker] = scaler  # Save for inverse transform if needed later

    return df, scalers

In [17]:
df_full_v2, scalers = normalize_features(df_full, features)

In [18]:
df_full_v2.head()

,Date,Close,High,Low,Open,Volume,Ticker,EMA_10,EMA_20,EMA_50,RSI_14,BB_BW_20,OBV,STOCH_K,STOCH_D
49,2010-03-17,-0.605333,62.561762,60.686683,62.561762,2145365,ADANIENT.NS,-0.604050,-0.603207,-0.601925,-0.391238,-0.638593,-1.421678,0.522475,0.606031
50,2010-03-18,-0.605523,63.081200,60.179893,63.081200,680293,ADANIENT.NS,-0.604186,-0.603286,-0.601926,-0.457804,-0.705266,-1.422041,0.460467,0.603373
51,2010-03-19,-0.605512,61.161778,59.546426,59.546426,919288,ADANIENT.NS,-0.604295,-0.603356,-0.601927,-0.452899,-0.718910,-1.421550,0.464226,0.511641
52,2010-03-22,-0.607168,60.686670,58.665890,60.686670,1875340,ADANIENT.NS,-0.604687,-0.603578,-0.601993,-1.002438,-0.651923,-1.422552,-1.049343,-0.044418
53,2010-03-23,-0.607283,59.863161,57.791709,59.166343,582769,ADANIENT.NS,-0.605028,-0.603790,-0.602062,-1.036209,-0.602080,-1.422864,-1.108920,-0.599616

In [20]:
%pip install joblib

Requirement already satisfied: joblib in d:\apps\miniconda\envs\new_env\lib\site-packages (1.4.2)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import joblib
joblib.dump(scalers, "E:\My_Career\Projects\ML_stock_market\data\\scalers.pkl")

['E:\\My_Career\\Projects\\ML_stock_market\\data\\scalers.pkl']

In [20]:
df_full_v2["Date"] = pd.to_datetime(df_full_v2["Date"])

In [21]:
train_start = df_full_v2["Date"].min()
print(train_start)

2010-03-16 00:00:00

In [22]:
df_full_v2["Date"].max()

Timestamp('2025-04-30 00:00:00')

In [23]:
train_end = "2019-06-30"
val_start = "2022-03-01"
val_end = "2023-10-31"
test_start = "2024-04-01"
test_end = "2025-04-30"

In [24]:
train_df = df_full_v2[(df_full_v2['Date']>='2010-03-16') & (df_full_v2['Date']<=train_end)]
print(train_df['Date'].min(), train_df['Date'].max())

2010-03-16 00:00:00 2019-06-28 00:00:00

In [25]:
val_df = df_full_v2[(df_full_v2['Date']>=val_start) & (df_full_v2['Date']<=val_end)]
print(val_df['Date'].min(), val_df['Date'].max())

2022-03-02 00:00:00 2023-10-31 00:00:00

In [19]:
def global_time_split(df, train_ratio=0.7, val_ratio=0.15):
    df = df.copy()
    df["Date"] = pd.to_datetime(df["Date"])

    min_date = df["Date"].min()
    max_date = df["Date"].max()
    total_days = (max_date - min_date).days

    train_cutoff = min_date + pd.Timedelta(days=int(total_days * train_ratio))
    val_cutoff = train_cutoff + pd.Timedelta(days=int(total_days * val_ratio))

    train_df = df[df["Date"] <= train_cutoff]
    val_df = df[(df["Date"] > train_cutoff+pd.Timedelta(days=int(100))) & (df["Date"] <= val_cutoff)]
    test_df = df[df["Date"] > val_cutoff+pd.Timedelta(days=int(100))]

    return train_df.reset_index(drop=True), val_df.reset_index(drop=True), test_df.reset_index(drop=True)

In [20]:
train_df, val_df, test_df = global_time_split(df_full_v2)

In [21]:
print("Train:", train_df["Date"].min(), "→", train_df["Date"].max())
print("Val:  ", val_df["Date"].min(), "→", val_df["Date"].max())
print("Test: ", test_df["Date"].min(), "→", test_df["Date"].max())

Train: 2010-03-16 00:00:00 → 2020-07-23 00:00:00
Val:   2020-11-02 00:00:00 → 2022-10-11 00:00:00
Test:  2023-01-20 00:00:00 → 2024-12-31 00:00:00

In [22]:
train_df[features+['Date', 'Ticker']].to_csv("E:\My_Career\Projects\ML_stock_market\data\preprocessed\\train.csv", index=False)
test_df[features+['Date', 'Ticker']].to_csv("E:\My_Career\Projects\ML_stock_market\data\preprocessed\\test.csv", index=False)
val_df[features+['Date', 'Ticker']].to_csv("E:\My_Career\Projects\ML_stock_market\data\preprocessed\\val.csv", index=False)