In [24]:
import torch
import pandas as pd
import warnings
from torch.utils.data import Dataset, DataLoader
import numpy as np
import math
warnings.filterwarnings('ignore')
import os
from sklearn.metrics import f1_score, precision_score, recall_score, fbeta_score
import matplotlib.pyplot as plt

In [26]:
preprocess_data = ".\data\preprocessed"
test = pd.read_csv(f"{preprocess_data}\\test.csv")

In [28]:
from joblib import load

# Load the full dictionary
scalers_dict = load('.\data\scalers.pkl')

In [30]:
close_df = test[['Close', 'EMA_10', 'EMA_20', 'EMA_50', 'RSI_14', 'BB_BW_20', 'OBV', 'STOCH_K', 'STOCH_D','Ticker']]
close_df.head()

,Close,EMA_10,EMA_20,EMA_50,RSI_14,BB_BW_20,OBV,STOCH_K,STOCH_D,Ticker
0,2.288578,2.203565,2.216519,2.206015,0.391363,-0.423680,1.296985,1.275350,0.863917,ADANIENT.NS
1,2.303678,2.223475,2.226722,2.211911,0.470701,-0.432754,1.297450,1.404841,1.316769,ADANIENT.NS
2,2.271664,2.233927,2.232884,2.216298,0.225584,-0.456557,1.296833,1.130305,1.347710,ADANIENT.NS
3,2.251124,2.238732,2.236491,2.219695,0.072292,-0.490593,1.296083,0.908491,1.217927,ADANIENT.NS
4,2.263820,2.244979,2.240971,2.223465,0.153833,-0.528333,1.296487,0.855262,1.023504,ADANIENT.NS

In [31]:
for scaler in scalers_dict:
    mask = close_df["Ticker"] == scaler
    scaler_ = scalers_dict[scaler]
    close_df.loc[mask, ['Close', 'EMA_10', 'EMA_20', 'EMA_50', 'RSI_14', 'BB_BW_20', 'OBV', 'STOCH_K', 'STOCH_D']] = scaler_.inverse_transform(close_df.loc[mask, ['Close', 'EMA_10', 'EMA_20', 'EMA_50', 'RSI_14', 'BB_BW_20', 'OBV', 'STOCH_K', 'STOCH_D']])

In [32]:
close_df = close_df[['Close', 'Ticker']]
close_df.head()

         Close       Ticker
0  3249.127686  ADANIENT.NS
1  3265.762451  ADANIENT.NS
2  3230.494629  ADANIENT.NS
3  3207.865723  ADANIENT.NS
4  3221.852539  ADANIENT.NS

In [36]:
def create_prices(df1, lookback=60, horizon=30):
    df = df1.copy()
    prices_now, prices_future, stocks, returns = [], [], [], []
    for ticker, group in df.groupby("Ticker"):
        group = group.reset_index(drop=True)
        if len(group) < lookback + horizon:
            continue

        #features = group[feature_cols].values
        close_prices = group['Close'].values

        for i in range(len(group) - lookback - horizon + 1):
            #x_seq = features[i : i + lookback]
            
            price_now = close_prices[i + lookback - 1]
            price_future = close_prices[i + lookback + horizon - 1]

            future_return = (price_future - price_now) / price_now

            # Label: 1 if price goes up by at least `threshold`, else 0
            #direction = 1 if future_return >= threshold else 0

            #X.append(x_seq)
            #y.append(direction)
            prices_now.append(price_now)
            prices_future.append(price_future)
            stocks.append(ticker)
            returns.append(future_return)

    return prices_now, prices_future, stocks, returns

In [37]:
prices_now, prices_future, stocks, returns = create_prices(close_df)

In [38]:
df_test = pd.DataFrame({'price_curr':prices_now, 'price_future':prices_future, 'Ticker':stocks, 'returns':returns})
df_test.head()

    price_curr  price_future       Ticker   returns
0  3175.526123   3150.139404  ADANIENT.NS -0.007994
1  3182.172852   3090.619629  ADANIENT.NS -0.028771
2  3151.588623   3038.546387  ADANIENT.NS -0.035868
3  3189.319336   3107.211182  ADANIENT.NS -0.025745
4  3142.643066   3100.964600  ADANIENT.NS -0.013262

In [39]:
def create_sequences_direction(df, lookback=60, horizon=15, feature_cols=None, target_col="Close", threshold=0.0):
    X, y = [], []
    #prices_now, prices_future, stocks = [], [], []
    df = df.sort_values(["Ticker", "Date"]).reset_index(drop=True)
    
    for ticker, group in df.groupby("Ticker"):
        group = group.reset_index(drop=True)
        if len(group) < lookback + horizon:
            continue

        features = group[feature_cols].values
        close_prices = group[target_col].values

        for i in range(len(group) - lookback - horizon + 1):
            x_seq = features[i : i + lookback]
            
            price_now = close_prices[i + lookback - 1]
            price_future = close_prices[i + lookback + horizon - 1]

            future_return = (price_future - price_now) / price_now

            # Label: 1 if price goes up by at least `threshold`, else 0
            direction = 1 if future_return >= threshold else 0

            X.append(x_seq)
            y.append(direction)

    return np.array(X), np.array(y)

In [40]:
class TimeSeriesDataset(Dataset):
    def __init__(self, X, y):
        self.X = torch.tensor(X, dtype=torch.float32)   # (samples, lookback, features)
        self.y = torch.tensor(y, dtype=torch.long)      # For classification

    def __len__(self):
        return len(self.X)

    def __getitem__(self, idx):
        return self.X[idx], self.y[idx]

In [41]:
features = ['Close', 'EMA_10', 'EMA_20', 'EMA_50', 'RSI_14', 'BB_BW_20', 'OBV', 'STOCH_K', 'STOCH_D']
X_t, y_t= create_sequences_direction(test, lookback=60, horizon=30, feature_cols=features, target_col="Close", threshold=0.01)
print(np.unique(y_t, return_counts=True))

(array([0, 1]), array([4925, 3794], dtype=int64))

In [42]:
test_ds = TimeSeriesDataset(X_t, y_t)
test_dataset = DataLoader(dataset=test_ds, batch_size=32, shuffle=False)
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

In [43]:
from model import *
model = build_transformer(input_dim=9, output_dim=2, src_seq_len=60, tgt_seq_len=10, d_model=16, N=2, h=4, dropout=0.2, d_ff=16)

In [44]:
model_dir = "./model_artefacts"
model.load_state_dict(torch.load(f'{model_dir}//best_model.pt'))
model = model.to(device)
model.eval()

Transformer(
  (encoder): Encoder(
    (layers): ModuleList(
      (0-1): 2 x EncoderBlock(
        (self_attention_block): MultiHeadAttentionBlock(
          (w_q): Linear(in_features=16, out_features=16, bias=True)
          (w_k): Linear(in_features=16, out_features=16, bias=True)
          (w_v): Linear(in_features=16, out_features=16, bias=True)
          (w_o): Linear(in_features=16, out_features=16, bias=True)
          (dropout): Dropout(p=0.2, inplace=False)
        )
        (feed_forward_block): FeedForwardBlock(
          (W1): Linear(in_features=16, out_features=16, bias=True)
          (dropout): Dropout(p=0.2, inplace=False)
          (W2): Linear(in_features=16, out_features=16, bias=True)
        )
        (residual_connections): ModuleList(
          (0-1): 2 x ResidualConnection(
            (dropout): Dropout(p=0.2, inplace=False)
            (norm): LayerNormalization()
          )
        )
      )
    )
    (norm): LayerNormalization()
  )
  (decoder): Decoder(
    (layers): ModuleList(
      (0-1): 2 x DecoderBlock(
        (self_attention_block): MultiHeadAttentionBlock(
          (w_q): Linear(in_features=16, out_features=16, bias=True)
          (w_k): Linear(in_features=16, out_features=16, bias=True)
          (w_v): Linear(in_features=16, out_features=16, bias=True)
          (w_o): Linear(in_features=16, out_features=16, bias=True)
          (dropout): Dropout(p=0.2, inplace=False)
        )
        (cross_attention_block): MultiHeadAttentionBlock(
          (w_q): Linear(in_features=16, out_features=16, bias=True)
          (w_k): Linear(in_features=16, out_features=16, bias=True)
          (w_v): Linear(in_features=16, out_features=16, bias=True)
          (w_o): Linear(in_features=16, out_features=16, bias=True)
          (dropout): Dropout(p=0.2, inplace=False)
        )
        (feed_forward_block): FeedForwardBlock(
          (W1): Linear(in_features=16, out_features=16, bias=True)
          (dropout): Dropout(p=0.2, inplace=False)
          (W2): Linear(in_features=16, out_features=16, bias=True)
        )
        (residual_connections): ModuleList(
          (0-2): 3 x ResidualConnection(
            (dropout): Dropout(p=0.2, inplace=False)
            (norm): LayerNormalization()
          )
        )
      )
    )
    (norm): LayerNormalization()
  )
  (src_embed): InputEmbedding(
    (proj_inp): Linear(in_features=9, out_features=16, bias=True)
  )
  (tgt_embed): InputEmbedding(
    (proj_inp): Linear(in_features=9, out_features=16, bias=True)
  )
  (src_pos): PositionalEncoding(
    (dropout): Dropout(p=0.2, inplace=False)
  )
  (tgt_pos): PositionalEncoding(
    (dropout): Dropout(p=0.2, inplace=False)
  )
  (projection_layer): ProjectionLayer(
    (proj): Linear(in_features=16, out_features=2, bias=True)
  )
)

In [65]:
y_pred_all = []

with torch.no_grad():
    for enc_input, target in test_dataset:
        enc_input = enc_input.to(device).float()
        #dec_input = dec_input.to(device).float()
        target = target.to(device).long()
        output = model(enc_input, None, enc_input[:, -10:, :], None)
        output = output[:, -1, :]
        preds = torch.argmax(output, dim=1)
        y_pred_all.extend(preds.cpu().numpy())

tensor([[0.3537, 0.3268],
        [0.3524, 0.3269],
        [0.3508, 0.3281],
        [0.3430, 0.3299],
        [0.3482, 0.3290],
        [0.3475, 0.3288],
        [0.3489, 0.3277],
        [0.3548, 0.3238],
        [0.3551, 0.3231],
        [0.3575, 0.3224],
        [0.3585, 0.3229],
        [0.3538, 0.3245],
        [0.3475, 0.3262],
        [0.3482, 0.3263],
        [0.3550, 0.3244],
        [0.3551, 0.3241],
        [0.3475, 0.3259],
        [0.3485, 0.3254],
        [0.3464, 0.3256],
        [0.3330, 0.3290],
        [0.3283, 0.3299],
        [0.3196, 0.3317],
        [0.3165, 0.3329],
        [0.3141, 0.3344],
        [0.3188, 0.3340],
        [0.3297, 0.3325],
        [0.3266, 0.3349],
        [0.3157, 0.3385],
        [0.3113, 0.3406],
        [0.3049, 0.3427],
        [0.3088, 0.3420],
        [0.3160, 0.3405]], device='cuda:0')

In [47]:
y_pred = []
for i in y_pred_all:
    if i==1:
        y_pred.append('Buy')
    else:
        y_pred.append('Sell')

In [48]:
df_test['Prediction'] = y_pred
df_test.head()

    price_curr  price_future       Ticker   returns Prediction
0  3175.526123   3150.139404  ADANIENT.NS -0.007994       Sell
1  3182.172852   3090.619629  ADANIENT.NS -0.028771       Sell
2  3151.588623   3038.546387  ADANIENT.NS -0.035868       Sell
3  3189.319336   3107.211182  ADANIENT.NS -0.025745       Sell
4  3142.643066   3100.964600  ADANIENT.NS -0.013262       Sell

In [50]:
df_test['Prediction'].value_counts()

Prediction
Buy     4479
Sell    4240
Name: count, dtype: int64

In [57]:
df_test['returns'] = round(df_test['returns'], 2)

In [58]:
df_test.head()

    price_curr  price_future       Ticker  returns Prediction
0  3175.526123   3150.139404  ADANIENT.NS    -0.80       Sell
1  3182.172852   3090.619629  ADANIENT.NS    -2.88       Sell
2  3151.588623   3038.546387  ADANIENT.NS    -3.59       Sell
3  3189.319336   3107.211182  ADANIENT.NS    -2.57       Sell
4  3142.643066   3100.964600  ADANIENT.NS    -1.33       Sell

In [62]:
returns_df = df_test.query("Prediction=='Buy'").groupby('Ticker')['returns'].agg(cum_returns=('sum')).sort_values(by=['cum_returns'],ascending=False).reset_index()

In [63]:
returns_df.head()

          Ticker  cum_returns
0  BHARTIARTL.NS       620.44
1   KOTAKBANK.NS       389.92
2  BAJAJFINSV.NS       384.31
3    HDFCLIFE.NS       310.79
4  SHRIRAMFIN.NS       273.09

In [64]:
returns_df.describe()

       cum_returns
count    48.000000
mean    -97.758750
std     281.580283
min    -930.720000
25%    -286.590000
50%    -167.230000
75%      89.807500
max     620.440000